<style>
.mw-53_5{max-width:57.5rem}

.css-category-list > .css-current-category{
    color:#6c302a;
    border-bottom:0.125rem solid;
}
@media screen and (min-width:30em) {
    .mb-12-ns {margin-bottom:.75rem}
}
@media screen and (min-width:60em) {
    .mb-6-l{margin-bottom:6rem}
    .css-category-list > .css-current-category{
        border-bottom:0.1875rem solid;
    }
}
</style>
<div class="center f6 flex flex-wrap fw7 justify-around lh-title mw-53_5 red tracked ttu   mb4 f4-ns mb5-ns   f3-l mb-6-l   css-category-list">
    <a class="db link mb2 mh1 mt0 nowrap red   mb-12-ns mh3-ns" href="">All Articles</a>
    <a class="db link mb2 mh1 mt0 nowrap red   mb-12-ns mh3-ns" href="">Category</a>
    <a class="db link mb2 mh1 mt0 nowrap red   mb-12-ns mh3-ns   css-current-category" href="">Another Cat</a>
    <a class="db link mb2 mh1 mt0 nowrap red   mb-12-ns mh3-ns" href="">Last Category</a>

    <a class="db link mb2 mh1 mt0 nowrap red   mb-12-ns mh3-ns" href="">Category</a>
    <a class="db link mb2 mh1 mt0 nowrap red   mb-12-ns mh3-ns" href="">Another Cat</a>
    <a class="db link mb2 mh1 mt0 nowrap red   mb-12-ns mh3-ns" href="">Last Category</a>
</div>
