<style>
.css-divider{margin-top:4.625rem}
.css-divider-left,.css-divider-right {margin-top:.0625rem}
.css-divider-middle {
    min-width:9rem;
    width:9rem;
    margin-left:.8125rem;
    margin-right:.8125rem
}
@media screen and (min-width:30em) {
    .css-divider{margin-top:6.9375rem}
    .css-divider-middle {
        min-width:14.5625rem;
        width:14.5625rem;
        margin-left:1.625rem;
        margin-right:1.625rem;
    }
}
</style>
<div class="center flex justify-between mw-47_5 ph3   ph4-ns   css-divider">
    <div class="bg-red br1 h-2 ie-flex-shrink w-100   h-4-ns   css-divider-left"></div>
    <div class="flex items-center justify-between   css-divider-middle">
        <div class="bg-red br-100 h-4 w-4   h-6-ns w-6-ns"></div>
        <div class="bg-red br-100 h-4 w-4   h-6-ns w-6-ns"></div>
        <div class="bg-red br-100 h-4 w-4   h-6-ns w-6-ns"></div>

        <div class="bg-red br2 h-4 w-20   w-40-ns"></div>
        <div class="bg-red br2 h-4 w-20   w-40-ns"></div>
        <div class="bg-red br2 h-4 w-20   w-40-ns"></div>

        <div class="bg-red br-100 h-4 w-4   h-6-ns w-6-ns"></div>
        <div class="bg-red br-100 h-4 w-4   h-6-ns w-6-ns"></div>
        <div class="bg-red br-100 h-4 w-4   h-6-ns w-6-ns"></div>
    </div>
    <div class="bg-red br1 h-2 ie-flex-shrink w-100   h-4-ns   css-divider-right"></div>
</div>
