<div class="center flex">
    <div class="bg-center cover w-100" style="background-image:url(assets/post_images/featured_post_image.jpg);max-width:35rem;">
    </div>
    <div class="bg-white w-100" style="padding-top:4rem;padding-bottom:3rem;padding-left:2.5rem;padding-right:2.5rem">
        <p class="f6 fw8 lh-solid mb3 mt0 pb1 red tracked-narrow ttu">Topic Here</p>
        <h1 class="f2 fw7 lh-title mt0 mw6 pr4 tracked-narrow ttu">Blog Title Here and Then Break to New Line</h1>
        <p class="fw4 gray lh-title mb5 mw6 pr4" style="font-size:18px">Short summary, keep it a couple words. A sentence. Nothing too wordy.</p>
        <p class="fw4 lh-solid light-silver mb0 pt1 tr ttu" style="font-size:18px;">08.19.17</p>
    </div>
</div>
