<a class="center db link shadow-6-hover   flex@45" href="/">
    <div class="bg-center cover h5 w-100   h-auto@45 mw-35@45" style="background-image:url(assets/post_thumbnails/featured_post_image.jpg);">
    </div>
    <div class="bg-white pb4 pt4 w-100 ph3   ph4-ns pt5-ns   ph4@45">
        <p class="f6 fw8 lh-solid mb3 mt0 pb1 red tracked-narrow ttu   ph2@45">Topic Here</p>
        <h1 class="f4 fw7 lh-title mt0 near-black tracked-narrow ttu   f2-ns   ph2@45   f3@45-60   f2-l mw6-l pr4-l">Blog Title Here and Then Break to New Line</h1>
        <p class="f5 fw4 gray lh-title mb4   f-18-ns mb5-ns   ph2@45   mw6-l pr4-l">Short summary, keep it a couple words. A sentence. Nothing too wordy.</p>
        <p class="f5 fw4 lh-solid light-silver mb0 tr ttu   f-18-ns pb3-ns pt1-ns   ph2@45">08.19.17</p>
    </div>
</a>
