<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>SOS - Blog</title>

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Sitewide Styles -->
		<link href="css/tachyons.css" rel="stylesheet">
        <link href="css/styles.css" rel="stylesheet">

		<!-- Blog Post Styles -->
		<link href="css/post_styles.css" rel="stylesheet">
		<link href="css/carousel.css" rel="stylesheet">
		<link href="css/carousel_theme.css" rel="stylesheet">


		<script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
        <script src="https://use.typekit.net/zok1cii.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>

		<!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body class="tk-din-2014">
        {% include site_nav.html %}

		{{ content }}

		{% include footer.html %}

		<!-- JS Libraries -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="js/owl.js"></script>

		<!-- Custom JS -->
		<script src="js/navigation.js"></script>
		<script>
		$(document).ready(function(){
			$('.owl-carousel').owlCarousel({
				items:1,
				loop:true,
				autoplay:true
	  		});
		});
		</script>
		<script>
		var infScroll = new InfiniteScroll( '.js-scroll-container', {
			path: '.pagination__next',
			append: '.post',
	 		responseType: 'document',
			loadOnScroll: false,
			history: 'replace',
			hideNav: '.pagination',
			button: '.load-next-button'
		})
		</script>
	</body>
</html>
