<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>SOS - Outpost Games</title>

		<link rel="canonical" href="" />
		<meta name="description" content="" />
    	<meta name="keywords" content="" />
		<meta name="geo.region" content="" />
		<meta name="geo.placename" content="" />
		<meta name="robots" content="all" />

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="css/tachyons.css" rel="stylesheet">
		<link href="css/magnific.css" rel="stylesheet">
        <link href="css/original_sos_styles.css" rel="stylesheet">
		<link href="css/new_styles.css" rel="stylesheet">
		<link href="css/post_styles.css" rel="stylesheet">
		<link href="css/hamburger.css" rel="stylesheet">

		<link rel="stylesheet" href="css/owl.css" />
		<link rel="stylesheet" href="css/owl.theme.new.css" />



        <script src="https://use.typekit.net/zok1cii.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>

		<!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body class="tk-din-2014">
        {% include nav.html %}

		{{ content }}

		{% include footer.html %}
	</body>
	<!-- JS Libraries -->
	<script src="js/jquery-2.1.0.min.js"></script>
	<script src="js/owl.js"></script>

	<!-- Custom JS -->
	<script src="js/navigation.js"></script>
	<script>
	$(document).ready(function(){
		$('.owl-carousel').owlCarousel({
			items:1,
			loop:true,
			autoplay:true
  		});
	});
	</script>
</html>
