<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>SOS - Outpost Games</title>

		<link rel="canonical" href="" />
		<meta name="description" content="" />
    	<meta name="keywords" content="" />
		<meta name="geo.region" content="" />
		<meta name="geo.placename" content="" />
		<meta name="robots" content="all" />

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="css/tachyons.css" rel="stylesheet">
		<link href="css/magnific.css" rel="stylesheet">
        <link href="css/original_sos_styles.css" rel="stylesheet">
		<link href="css/new_styles.css" rel="stylesheet">
		<link href="css/post_styles.css" rel="stylesheet">
		<link href="css/hamburger.css" rel="stylesheet">

		<link rel="stylesheet" href="css/owl.css" />
		<link rel="stylesheet" href="css/owl.theme.new.css" />
		<script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>




        <script src="https://use.typekit.net/zok1cii.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>

		<!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body class="tk-din-2014">
        {% include nav.html %}

		{{ content }}

		{% include footer.html %}
	</body>
	<!-- JS Libraries -->
	<script src="js/jquery-2.1.0.min.js"></script>
	<script src="js/owl.js"></script>

	<!-- Custom JS -->
	<script src="js/navigation.js"></script>
	<script>
	var infScroll = new InfiniteScroll( '.container', {
  // defaults listed

  path: '.pagination__next',
  // REQUIRED. Determines the URL for the next page
  // Set to selector string to use the href of the next page's link
  // path: '.pagination__next'
  // Or set with {{#}} in place of the page number in the url
  // path: '/blog/page/{{#}}'
  // or set with function
  // path: function() {
  //   return return '/articles/P' + ( ( this.loadCount + 1 ) * 10 );
  // }
   append: '.post',
  // REQUIRED for appending content
  // Appends selected elements from loaded page to the container

  checkLastPage: true,
  // Checks if page has path selector element
  // Set to string if path is not set as selector string:
  //   checkLastPage: '.pagination__next'

  prefill: false,
  // Loads and appends pages on intialization until scroll requirement is met.

  responseType: 'document',
  // Sets the type of response returned by the page request.
  // Set to 'text' to return flat text for loading JSON.

  outlayer: false,
  // Integrates Masonry, Isotope or Packery
  // Appended items will be added to the layout

  scrollThreshold: 400,
  // Sets the distance between the viewport to scroll area
  // for scrollThreshold event to be triggered.

  elementScroll: false,
  // Sets scroller to an element for overflow element scrolling

  loadOnScroll: false,
  // Loads next page when scroll crosses over scrollThreshold

  history: 'replace',
  // Changes the browser history and URL.
  // Set to 'push' to use history.pushState()
  //    to create new history entries for each page change.

  historyTitle: true,
  // Updates the window title. Requires history enabled.

hideNav: '.pagination',
  // Hides navigation element

  status: undefined,
  // Displays status elements indicating state of page loading:
  // .infinite-scroll-request, .infinite-scroll-load, .infinite-scroll-error
  // status: '.page-load-status'

  button: '.load-next-button',
  // Enables a button to load pages on click
  // button: '.load-next-button'

  onInit: undefined,
  // called on initialization
  // useful for binding events on init
  // onInit: function() {
  //   this.on( 'append', function() {...})
  // }

  debug: false,
  // Logs events and state changes to the console.
})
	</script>
	<script>
	$(document).ready(function(){
		$('.owl-carousel').owlCarousel({
			items:1,
			loop:true,
			autoplay:true
  		});
	});
	</script>
</html>
